.ManageProductBox{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-gap: 3rem;
    max-width: 1200px;
    margin: auto;
}
.ManageProductCard{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 10px;

}

@media only screen and (max-width: 800px) {
      .ManageProductBox {
        grid-template-columns: repeat(1, 1fr);
  
      }
}
@media only screen and (max-width: 100px) {
      .ManageProductBox {
        grid-template-columns: repeat(2, 1fr);
  
      }
}