.Haderbtn {
      margin: 10px;
}

.HeaderLinks {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
}

.Biostar_Position {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
}

.MenuBox{
  display: flex;
  align-items: center;
  margin-top: 10px;
}
